{
    admin localhost:2019
    log {
        output stdout
        format console
        level INFO
    }
}

sik-shineeducationbali.online {

    # Security Headers Standard
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "SAMEORIGIN"
        Referrer-Policy "strict-origin-when-cross-origin"
    }

    # ---------------------------------------------------------
    # ROUTING KE BACKEND (Laravel)
    # ---------------------------------------------------------
    
    # Menangani Request API (Login, Data, dll)
    handle /api/* {
        reverse_proxy sik_backend:8000
    }
    
    # Menangani CSRF Cookie Laravel
    handle /sanctum/* {
        reverse_proxy sik_backend:8000
    }

    # Menangani Log Viewer (Monitoring)
    handle /vendor/* {
        reverse_proxy sik_backend:8000
    }
    handle /log-viewer* {
        reverse_proxy sik_backend:8000
    }

    # Menangani Gambar/File Upload
    handle /storage/* {
        reverse_proxy sik_backend:8000
    }

    # ---------------------------------------------------------
    # ROUTING KE FRONTEND (Next.js) - Default
    # ---------------------------------------------------------
    # Semua request selain di atas akan masuk ke sini
    handle {
        reverse_proxy sik_frontend:3000
    }
}